*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightgrey;
}

#home {
    background-image: url(images/kai-cheng-8xLvH52N7eE-unsplash.jpg);
    min-height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav {
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-btn {
    background: transparent;
    cursor: pointer;
    border-color: transparent;
    transition: 0.3s linear;
    padding: 5px 10px;
}

.toggle-btn:hover {
    color: hsla(182, 63%, 54%);
}

.logo {
    height: 50px;
    padding: 5px 10px;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: 0.3s linear;
} 

.show-links {
    height: 200px;
}

.links a {
    background: white;
    color:  hsl(210, 22%, 49%);
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 0px;
}

.links a:hover{
    color: black;
}

.banner {
    display: grid;
    place-items: center;
    text-align: center;
    min-height: 100vh;
}

.banner-container h1 {
    color: white;
    text-decoration: uppercase;
}

.banner-container p {
    color: white;
    max-width:400px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.banner-btn button{
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.3s linear;
    font-size: large;
}

.banner-btn button:hover {
    background: white;
    color: hsla(182, 63%, 54%);
}

.sections {
    height: 80vh;
    background-color: white;
    text-align: center;
}

.title span {
    color: hsla(182, 63%, 54%);
}

@media screen and (min-width:800px) {
    nav {
        background: transparent;
    }

    .toggle-btn {
        display: none;
    }

    .links-container {
        height: auto !important;
    }

    .navBar-center {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links {
        display: flex;
    }
    .links a {
        background: transparent;
        color: white;
        display: block;
        padding: 0 5px;
    }
}

footer {
    background:  hsl(209, 61%, 16%);
    padding: 5rem 1rem;
}

footer p {
    color: white;
    text-align: center;
    margin-bottom: 0;
}