*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: lightgrey;
}

#home {
    background-image: url(images/kai-cheng-8xLvH52N7eE-unsplash.jpg);
    min-height: 100vh;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav {
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-btn {
    background: transparent;
    cursor: pointer;
    border-color: transparent;
    transition: 0.3s linear;
    padding: 0px 10px;
}

.toggle-btn:hover {
    color: hsla(182, 63%, 54%);
}

.logo {
    height: 50px;
    padding: 5px 10px;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: 0.3s linear;
} 

.show-links {
    height: 200px;
}

.links a {
    background: white;
    color:  hsl(210, 22%, 49%);
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 0px;
}

.links a:hover{
    color: black;
}

.banner {
    display: grid;
    place-items: center;
    text-align: center;
    min-height: 100vh;
}

.banner-container h1 {
    color: white;
    text-decoration: uppercase;
}

.banner-container p {
    color: white;
    max-width:400px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.banner-btn button{
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.3s linear;
    font-size: large;
}

.banner-btn button:hover {
    background: white;
    color: hsla(182, 63%, 54%);
}

.sections {
    height: 80vh;
    background-color: white;
    text-align: center;
}

.title span {
    color: hsla(182, 63%, 54%);
}

@media screen and (min-width:800px) {
    nav {
        background: transparent;
    }

    .toggle-btn {
        display: none;
    }

    .links-container {
        height: auto !important;
    }

    .navBar-center {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .links {
        display: flex;
    }
    .links a {
        background: transparent;
        color: white;
        display: block;
        padding: 0 5px;
    }
}

footer {
    background:  hsl(209, 61%, 16%);
    padding: 5rem 1rem;
}

footer p {
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.bottom-to-top-btn {
    font-size: 16px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: grid;
    background: hsla(182, 63%, 54%);
    width: 25px;
    height: 25px;
    place-items: center;
    border-radius: 8px;
    color: white;
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
}

.show-link {
    visibility: visible;
    z-index: 100;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);;
}

.fixed-nav .links a {
    color: hsl(209, 61%, 16%);   
}

.fixed-nav .links a:hover {
    color: hsla(182, 63%, 54%);
}